In [ ]:
import pandas

In [ ]:
import pandas as pd

In [ ]:
pd?

# Introducing Pandas Objects

In [ ]:
import numpy as np
import pandas as pd

## The Pandas Series Object

### Series as generalized Numpy array

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data 
#Series used for manipulating the pattern of data that are kept in an array.

In [ ]:
data.values

In [ ]:
data.index

In [ ]:
data[1]

In [ ]:
data[1:3]

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data

In [ ]:
data['b']

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=[2, 5, 3, 7])
data

In [ ]:
data[5]

### Series as specialized dictionary

In [ ]:
population_dict = {'California': 3833521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

In [ ]:
population['California':'Illinois']

### Constructing Series objects

In [ ]:
pd.Series([2, 4, 6]) # Index defaults to an integer sequence

In [ ]:
pd.Series(5, index=[100, 200, 300])

In [ ]:
pd.Series({2: 'a', 1:'b', 3:'c'})

In [ ]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

# The Pandas DataFrame Object

### DataFrame as a generalized Numpy array

In [ ]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
            'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

In [ ]:
states = pd.DataFrame({'population': population,
                      'area': area})
states

In [ ]:
states.index

In [ ]:
states.columns

### DataFram as specialized dictionary

In [ ]:
states['area']

In [ ]:
states['population']

### Constructing DataFrame objects

### From a single Series object

In [ ]:
pd.DataFrame(population, columns=['population'])

In [ ]:
pd.DataFrame(population, columns=['area'])

### From a list of dicts

In [ ]:
data = [{'a': i, 'b': 2 * i}
    for i in range(3)]
pd.DataFrame(data)

### From a list of dicts

In [ ]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

### From a dictionary of Series objects

In [ ]:
pd.DataFrame({'population': population, 'area': area})

### From a two-dimensional NumPy array

In [ ]:
pd.DataFrame(np.random.rand(3, 2), columns=['foo', 'bar'], index=['a', 'b', 'c'])

### From a Numpy structured array

In [ ]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

In [ ]:
pd.DataFrame(A)

## The Pandas Index Object

In [ ]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

### Index as immutable array

In [ ]:
ind[1]

In [ ]:
ind[::2]

In [ ]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

In [ ]:
ind[1] = 0

### Index as ordered set

In [ ]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [ ]:
indA & indB # Intersection

In [ ]:
indA | indB # union

In [ ]:
indA ^ indB # symmetric difference Universe - (A & B)

# Data Indexing and Selection

## Data Selection in Series

### Series as dictionary

In [ ]:
import pandas as pd
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                index=['a', 'b', 'c', 'd'])
data

In [ ]:
data['b']

In [ ]:
'a' in data

In [ ]:
data.keys()

In [ ]:
list(data.items())

In [ ]:
data['e'] = 1.25
data

### Series as one-dimensional array

In [ ]:
# slicing by explicit index
data['a':'c']

In [ ]:
# slicing by implicit index
data[0:2]

In [ ]:
# masking
data[(data > 0.3) & (data < 0.8)]

In [ ]:
# fancy indexing
data[['a', 'e']]

### Indexers: loc, iloc, and ix

In [ ]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

In [ ]:
# explict index when indexing
data[1]

In [ ]:
# implict index when slicing
data[1:3]

In [ ]:
data.loc[1]

In [ ]:
data.loc[1:3] # loc allows indexing and slicing that always references the explicit index

In [ ]:
data.loc[1:5]

In [ ]:
data.iloc[1]
'b'

In [ ]:
data.iloc[1:3]

In [ ]:
data.iloc[:3]

In [ ]:
data.iloc[0] # iloc allows indexing and slicing that always references the implicit Python-style index

## Data Selection in DataFrame

### DataFrame as a dictionary

In [ ]:
import pandas as pd
area = pd.Series({'California': 423967, 'Texas': 695662,
                'New York': 141297, 'Florida': 170312,
                'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                'New York': 19651127, 'Florida': 19552860,
                'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'population':pop})
data

In [ ]:
data['area']

In [ ]:
data.area

In [ ]:
data.population

In [ ]:
data.area is data['area']

In [ ]:
# data.pop is data['pop']

In [ ]:
data['density'] = data['population'] / data['area']
data

### DataFrame as two-dimensional array

In [ ]:
data.values

In [ ]:
data.T # Transpose matrix

In [ ]:
data.values[0]

In [ ]:
data['area']

In [ ]:
data.iloc[:3, :2]

In [ ]:
data.loc[:'Illinois', :'population']

In [ ]:
data.ix[:3, :'population']

In [ ]:
data.loc[data.density > 100, ['population', 'density']]

In [ ]:
data.iloc[0, 2] = 90
data

### Additional indexing conventions

In [ ]:
data['Florida':'Illinois']

In [ ]:
data[1:3]

In [ ]:
data[data.density > 100]

# Operating on Data in Pandas

## Ufuncs: Index Preservation

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.randint(0, 10, 4))
ser

In [ ]:
df = pd.DataFrame(rng.randint(0, 10, (3, 4)),
                 columns=['A','B','C','D'])
df

In [ ]:
np.exp(ser)

In [ ]:
np.sin(df * np.pi / 4)

## UFuncs: Index Alignment

### Index alignment in Series

In [ ]:
area = pd.Series({'Alaska': 1723337, 'Texas': 695662,
                'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193,
                       'New York': 19651127}, name='population')

In [ ]:
population / area

In [ ]:
area.index | population.index

In [ ]:
A = pd.Series([2, 4, 6], index=[0, 1, 2])
B = pd.Series([1, 3, 5], index=[1, 2, 3])
A + B

In [ ]:
A.add(B, fill_value=0)

### Index alignment in DataFrame

In [ ]:
A = pd.DataFrame(rng.randint(0, 20, (2,2)), columns=list('AB'))
A

In [ ]:
B = pd.DataFrame(rng.randint(0, 10, (3,3)), columns=list('BAC'))
B

In [ ]:
A + B

In [ ]:
fill = A.stack().mean()
A.add(B, fill_value=fill)

## Ufunc: Operations Between DataFrame and Series

In [ ]:
A = rng.randint(10, size=(3,4))
A

In [ ]:
A - A[0]

In [ ]:
df = pd.DataFrame(A, columns=list('QRST'))
df - df.iloc[0]

In [ ]:
print(df)
print(df.iloc[0]) # row at 0

In [ ]:
df.subtract(df['R'], axis=0)

In [ ]:
halfrow = df.iloc[0, ::2]
halfrow

In [ ]:
df - halfrow

# Handling Mission Data

## Trade-Offs in Mission Data Conventions

In [ ]:
# Masking approach -> the mask might be an entirely seperate Boolean array
# Sentinel approach -> data-specific convention (-9999, NaN)
# Non of these approach -> use of a seperate mask array requires allocation of an additional Boolean array

## Missing Data in Pandas

In [ ]:
# Numpy does have support for masked arrays 
#that have a seperate Boolean mask array attached for marking data
# Pandas chose to use sentinels for missing data, and use two alread-existing Python null values:
# the special floting-point NaN value, and the Python None object

### None: Pythonic missing data

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
vals1 = np.array([1, None, 3, 4])
vals1

In [ ]:
for dtype in ['object', 'int']:
    print("dtype = ", dtype)
    %timeit np.arange(1E6, dtype=dtype).sum()
    print()

In [ ]:
#vals1.sum() Error

### NaN: Missing numerical data

In [ ]:
vals2 = np.array([1, np.nan, 3, 4])
vals2.dtype

In [ ]:
1 + np.nan

In [ ]:
0 * np.nan

In [ ]:
vals2.sum(), vals2.min(), vals2.max()

In [ ]:
np.nansum(vals2), np.nanmin(vals2), np.nanmax(vals2) # Sum all values

In [ ]:
vals2

### NaN and None in Pandas

In [ ]:
pd.Series([1, np.nan, 2, None])

In [ ]:
x = pd.Series(range(2), dtype=int)
x

In [ ]:
x[0] = None
x

## Operating on Null Values

### Detecting null values

In [ ]:
data = pd.Series([1, np.nan, 'hello', None])

In [ ]:
data.isnull()

In [ ]:
data[data.notnull()]

### Dropping null values

In [ ]:
data.dropna() # Removes NA values

In [ ]:
df = pd.DataFrame([[1, np.nan, 2], [2, 3, 5], [np.nan, 4, 6]])
df

In [ ]:
df.dropna(axis='columns') 
# Dropping all columns that contains a null value

In [ ]:
df[3] = np.nan # Add all NaN values into a column
df

In [ ]:
df.dropna(axis='columns', how='all') 
# Only drop a row or column that are all null values

In [ ]:
df.dropna(axis='rows', thresh=3) 
# thresh is a minimum number of non-null values for the rows/column to be kept

### Filling null values

In [ ]:
data = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))
data

In [ ]:
data.fillna(0) 
# Fill NA entries with a single value such as zero

In [ ]:
# forward-fill
data.fillna(method='ffill')
# Specify a forward-fill to propagate the previous value forward

In [ ]:
# back-fill
data.fillna(method='bfill')

In [ ]:
df

In [ ]:
df.fillna(method='ffill', axis=1)
# Forward-fill along with horizontal axis

# Hierarchical Indexing

In [ ]:
import pandas as pd
import numpy as np

## A Multiply Indexed Series

### The bad way

In [ ]:
index = [('California', 2000), ('California', 2010), 
         ('New York',2000), ('New York', 2010),
         ('Texas', 2000), ('Texas', 2010)]
populations= [33871648, 37253956,
              18976457, 19378102,
              20851820, 25145561]
pop = pd.Series(populations, index=index)
pop

In [ ]:
pop[('California', 2010):('Texas', 2000)]

In [ ]:
pop[[i for i in pop.index if i[1] == 2010]]

### The bettter way: Pandas MultiIndex

In [ ]:
index = pd.MultiIndex.from_tuples(index)
index

In [ ]:
pop = pop.reindex(index) 
# Reindex our series with this MultiIndex
pop

In [ ]:
pop[:, 2010]
# Output only countries that have 2010

### MultiIndex as extra dimension

In [ ]:
pop_df = pop.unstack()
# Convert a multiply indexed series into a indexed DataFrame
pop_df

In [ ]:
pop_df.stack() 
# Convert a indexed DataFrame into a multiply index series

In [ ]:
pop_df = pd.DataFrame({'total': pop, 'under18': [9267089, 9284094,
                                                4687374, 4318033,
                                                5906301, 6879014]})
pop_df
# Using MultiIndex to add another column to the DatFrame

In [ ]:
f_u18 = pop_df['under18'] / pop_df['total']
f_u18.unstack()

## Methods of MultiIndex Creation

In [ ]:
df = pd.DataFrame(np.random.rand(4, 2),
                  index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                  columns=['data1', 'data2'])
df

In [ ]:
data = {('California', 2000): 33871648,
        ('California', 2010): 37253956,
        ('Texas', 2000): 20851820,
        ('New York', 2000): 18976457,
        ('New York', 2010): 19378102}
pd.Series(data)

### Explicit MultiIndex constructors

In [ ]:
pd.MultiIndex.from_arrays([['a', 'a', 'b', 'b'], [1, 2, 1, 2]])

In [ ]:
pd.MultiIndex.from_tuples([('a', 1), ('a', 2), ('b', 1), ('b', 2)])
# Construct multiIndex and add labels

In [ ]:
pd.MultiIndex.from_product([['a', 'b'], [1, 2]])
# Construct multiIndex and add labels 
# but it is using one product instead of repeating

In [ ]:
pd.MultiIndex(levels=[['a', 'b'], [1, 2]],
              labels=[[0, 0, 1, 1], [0, 1, 0 ,1]])
# Construct MultiIndex directly

### MultiIndex level names

In [ ]:
pop.index.names = ['state', 'year']
pop
# Setting the names attribute of the index after the fact

### MultiIndex for columns

In [ ]:
# hierarchical indices and columns
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]],
                                   names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],
                                     names=['subject', 'type'])
# mock some data
data = np.round(np.random.randn(4, 6) , 1)
data[:, :: 2] *= 10
data += 37
# create the DataFrame
health_data = pd.DataFrame(data, index=index, columns=columns)
health_data

In [ ]:
health_data['Guido']

## Indexing and Slicing a MultiIndex

### Multiply indexed Series

In [ ]:
pop

In [ ]:
pop['California', 2000]
# indexing with multiple terms

In [ ]:
pop['California']
# Partial indexing (one of the levels in the index)

In [ ]:
pop.loc['California':'New York']

In [ ]:
pop[:, 2000]

In [ ]:
pop[pop > 22000000]

In [ ]:
pop[['California', 'Texas']]

### Multiply indexed DataFrames

In [ ]:
health_data

In [ ]:
health_data['Guido', 'HR']

In [ ]:
health_data.iloc[:2, :2]

In [ ]:
health_data.loc[:, ('Bob', 'HR')]

In [ ]:
health_data.loc[(:, 1), (:, 'HR')]

## Rearranging Multi-Indices

### Sorted and unsorted indices

In [ ]:
index = pd.MultiIndex.from_product([['a', 'c', 'b'], [1, 2]])
# Cartesian
data = pd.Series(np.random.rand(6), index=index)
data.index.names = ['char', 'int']
# Setting index names
data

In [ ]:
try:
    data['a':'b']
except keyError as e:
    print(type(e))
    print(e)

In [ ]:
data = data.sort_index()
data

In [ ]:
try:
    data['a':'b']
except KeyError as e:
    print(type(e))
    print(e)

In [ ]:
data['a':'b']

### Stacking and unstacking indices

In [ ]:
pop.unstack(level=0)

In [ ]:
pop.unstack(level=1)

In [ ]:
pop.unstack().stack()

### Index setting and resetting

In [ ]:
pop_flat = pop.reset_index(name='population')
# setting index of population colunm
pop_flat

In [ ]:
pop_flat.set_index(['state', 'year'])

## Data Aggregations on Multi-Indices

In [ ]:
health_data

In [ ]:
data_mean = health_data.mean(level='year')
# Average between visit 1 and 2 in each year and merge to one row
data_mean

In [ ]:
data_mean.mean(axis=1, level='type')

## Combining Datasets: Concat and Append

In [15]:
import pandas as pd
import numpy as np

In [16]:
def make_df(cols, ind):
    """Quickly make a DataFrame"""
    data = {c: [str(c) + str(i) for i in ind]
           for c in cols}
    return pd.DataFrame(data, ind)

# Example DataFrame
make_df('ABC', range(3))

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

### Recall: Concatenation of NumPy Arrays

In [17]:
x = [1, 2, 3]
y = [4, 5, 6]
z = [7, 8, 9]
np.concatenate([x, y, z])

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [18]:
x = [[1, 2], [3, 4]]
np.concatenate([x, x], axis=1)

array([[1, 2, 1, 2],
       [3, 4, 3, 4]])

In [19]:
np.concatenate([x, x], axis=0)

array([[1, 2],
       [3, 4],
       [1, 2],
       [3, 4]])

### Simple Concetenation with pd.concat

In [20]:
ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])
pd.concat([ser1, ser2])

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

In [21]:
df1 = make_df('AB', [1, 2])
df2 = make_df('AB', [3, 4])
print(df1);
print(df2);
print(pd.concat([df1, df2]))

    A   B
1  A1  B1
2  A2  B2
    A   B
3  A3  B3
4  A4  B4
    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

In [22]:
df3 = make_df('CD', [0, 1])
df4 = make_df('CD', [0, 1])
print(df3);
print(df4);
print(pd.concat([df3, df4], axis=1))

    C   D
0  C0  D0
1  C1  D1
    C   D
0  C0  D0
1  C1  D1
    C   D   C   D
0  C0  D0  C0  D0
1  C1  D1  C1  D1

### Duplicate indices

In [23]:
x = make_df('AB', [0, 1])
y = make_df('AB', [2, 3])
y.index = x.index # make duplicate indices!
print(x)
print(y)
print(pd.concat([x, y]))

    A   B
0  A0  B0
1  A1  B1
    A   B
0  A2  B2
1  A3  B3
    A   B
0  A0  B0
1  A1  B1
0  A2  B2
1  A3  B3

### catching the repeats as an error

In [24]:
try:
    pd.concat([x, y], verify_integrity=True)
    # Index from both DataFrames are overlapped
except ValueError as e:
        print("ValueError:", e)

ValueError: Indexes have overlapping values: Int64Index([0, 1], dtype='int64')

### Ignoring the index

In [25]:
print(x)
print(y)
print(pd.concat([x, y], ignore_index=True))
# The concatenation will create a new integer index for the resulting Series

    A   B
0  A0  B0
1  A1  B1
    A   B
0  A2  B2
1  A3  B3
    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

### Adding MultiIndex keys

In [26]:
print(x)
print(y)
print(pd.concat([x, y], keys=['x', 'y']))
# x index for DataFrame named x
# y index for DataFrame named y

    A   B
0  A0  B0
1  A1  B1
    A   B
0  A2  B2
1  A3  B3
      A   B
x 0  A0  B0
  1  A1  B1
y 0  A2  B2
  1  A3  B3

### Concatenation with joins

In [27]:
df5 = make_df('ABC', [1, 2])
df6 = make_df('BCD', [3, 4])
print(df5)
print(df6)
print(pd.concat([df5, df6]))

    A   B   C
1  A1  B1  C1
2  A2  B2  C2
    B   C   D
3  B3  C3  D3
4  B4  C4  D4
     A   B   C    D
1   A1  B1  C1  NaN
2   A2  B2  C2  NaN
3  NaN  B3  C3   D3
4  NaN  B4  C4   D4

/home/thanadon/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """

In [28]:
print(df5)
print(df6)
print(pd.concat([df5, df6], join='inner'))
# inner for intersection
# outer for union

    A   B   C
1  A1  B1  C1
2  A2  B2  C2
    B   C   D
3  B3  C3  D3
4  B4  C4  D4
    B   C
1  B1  C1
2  B2  C2
3  B3  C3
4  B4  C4

In [29]:
print(df5)
print(df6)
print(pd.concat([df5, df6], join_axes=[df5.columns]))
# Specifying the index of the remaining colunms
# let the column contains NaN

    A   B   C
1  A1  B1  C1
2  A2  B2  C2
    B   C   D
3  B3  C3  D3
4  B4  C4  D4
     A   B   C
1   A1  B1  C1
2   A2  B2  C2
3  NaN  B3  C3
4  NaN  B4  C4

### The append() method

In [30]:
print(df1)
print(df2)
print(df1.append(df2))
# like df1.concat([df1, df2]) but df1.concat() is better
# because df1.append() creates a new object with the combined data.
# And involves creation of a new index and data buffer.

    A   B
1  A1  B1
2  A2  B2
    A   B
3  A3  B3
4  A4  B4
    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

In [31]:
print(df5)
print(df6)
print(df5.append(df6))

    A   B   C
1  A1  B1  C1
2  A2  B2  C2
    B   C   D
3  B3  C3  D3
4  B4  C4  D4
     A   B   C    D
1   A1  B1  C1  NaN
2   A2  B2  C2  NaN
3  NaN  B3  C3   D3
4  NaN  B4  C4   D4

/home/thanadon/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

## Combining Datasets: Merge and Join

### Relational Algebra

In [32]:
# pd.merge()?
# join()

## Categories of Joins

### One-to-one joins

In [33]:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
                    'hire_date': [2004, 2008, 2012, 2014]})
print(df1)
print(df2)

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR
  employee  hire_date
0     Lisa       2004
1      Bob       2008
2     Jake       2012
3      Sue       2014

In [34]:
df3 = pd.merge(df1, df2)
df3
# To combine this information into a single DataFrame, we can use the pd.merge() function

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

### Many-to-one joins

In [35]:
df4 = pd.DataFrame({'group': ['Accounting', 'Engineering', 'HR'],
                    'Supervisor': ['Carlly', 'Guido', 'Steve']})
print(df3)
print(df4)
print(pd.merge(df3, df4))

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014
         group Supervisor
0   Accounting     Carlly
1  Engineering      Guido
2           HR      Steve
  employee        group  hire_date Supervisor
0      Bob   Accounting       2008     Carlly
1     Jake  Engineering       2012      Guido
2     Lisa  Engineering       2004      Guido
3      Sue           HR       2014      Steve

### Many-to-many joins

In [36]:
df5 = pd.DataFrame({'group': ['Accounting', 'Accounting',
                              'Engineering', 'Engineering', 'HR', 'HR'],
                              'skills': ['math', 'spreadsheets', 'coding', 'linux',
                                         'spreadsheets', 'organization']})
print(df1)
print(df5)
print(pd.merge(df1, df5))

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR
         group        skills
0   Accounting          math
1   Accounting  spreadsheets
2  Engineering        coding
3  Engineering         linux
4           HR  spreadsheets
5           HR  organization
  employee        group        skills
0      Bob   Accounting          math
1      Bob   Accounting  spreadsheets
2     Jake  Engineering        coding
3     Jake  Engineering         linux
4     Lisa  Engineering        coding
5     Lisa  Engineering         linux
6      Sue           HR  spreadsheets
7      Sue           HR  organization

## Specification of the Merge Key

### The on keyword

In [37]:
print(df1)
print(df2)
print(pd.merge(df1, df2, on='employee'))
# Explicitly specify the name of the key column using the on keyword

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR
  employee  hire_date
0     Lisa       2004
1      Bob       2008
2     Jake       2012
3      Sue       2014
  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

### The left_on and right_on keywords

In [38]:
df3 = pd.DataFrame()

                group
employee
Bob        Accounting
Jake      Engineering
Lisa      Engineering
Sue                HR
          hire_date
employee
Lisa           2004
Bob            2008
Jake           2012
Sue            2014

In [43]:
print(df1a)
print(df3)
print(pd.merge(df1a, df3, left_index=True, right_index=True))

                group
employee
Bob        Accounting
Jake      Engineering
Lisa      Engineering
Sue                HR
  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014
Empty DataFrame
Columns: [group_x, employee, group_y, hire_date]
Index: []

In [55]:
print(df1a)
print(df3)
print(pd.merge(df1a, df3, left_index=True, right_on='employee'))

                group
employee
Bob        Accounting
Jake      Engineering
Lisa      Engineering
Sue                HR
  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014
       group_x employee      group_y  hire_date
0   Accounting      Bob   Accounting       2008
1  Engineering     Jake  Engineering       2012
2  Engineering     Lisa  Engineering       2004
3           HR      Sue           HR       2014